<div x-data="{ timer: null, showEditModal: false, selected: false, showShareModal: false  }"
     x-init="$watch('showEditModal', new_value => {htmx.process(htmx.find('#edit-list-modal'))})"
>
    <input type='hidden' name='shared_list_order' value='{{ shared_list.pk }}'/>
    <div
            @click.away="selected = false"
            @mousedown="if (!scrolling) timer = setTimeout(() => { selected = true }, 600)"
            @touchstart="if (!scrolling) timer = setTimeout(() => { selected = true }, 600)"
            @mouseup="clearTimeout(timer); selected = false"
            @touchend="clearTimeout(timer); selected = false"
            @wheel="scrolling = true; clearTimeout(timer); selected = false"
            @scroll="scrolling = true; clearTimeout(timer); selected = false"
            x-init="scrolling = false"
            x-data="{ scrolling: false }"
            x-on:scroll.passive="scrolling = true"
            x-on:wheel.passive="scrolling = true"
    >
        <div class="flex justify-between bg-white shadow overflow-hidden sm:rounded-lg mb-4 items-center"
             :class="{
                                        'shadow-lg': selected,
                                        'grayscale': selected,
                                        'bg-gray-100': selected,
                                        'dark:bg-gray-700': selected,
                                        'transition-colors': true,
                                        'duration-300': true,
                                        'ease-in-out': true,
                                        'display: block;': selected
                                        }"
        >
            <div class="flex-grow px-4 py-5 sm:px-6 flex flex-col">
                <h5 class="text-lg leading-6 font-medium text-gray-900">{{ shared_list.todo_list.name }}</h5>
                <p class="text-sm text-gray-500">Owner: <span class="font-semibold">{{ shared_list.shared_by.username }}</span>
                </p>
                <p class="text-sm text-gray-500">Shared with: <span class="font-semibold">{{ shared_list.shared_with.username }}</span>
                </p>
            </div>
            <div x-data="{ showOptions: false }" class="flex-shrink-0 px-1 py-1 sm:px-1"
                 style="transform: scale(0.8); display: flex; flex-direction: column; gap: 10px;">
                <div class="flex space-x-2">
                    {% if shared_list.shared_by == request.user %}
                    <button type="button" @click="showOptions = !showOptions"
                            class="inline-block min-w-[100px] px-4 py-2 text-sm font-medium text-white bg-gray-600 rounded-md hover:bg-gray-500 focus:outline-none focus:ring focus:ring-gray-700 active:bg-gray-700 transition whitespace-nowrap">
                        Options
                    </button>
                    {% endif %}
                    <button type="button" hx-get="{% url 'todo_list_tasks' shared_list.todo_list.pk %}"
                            hx-target="#page-body"
                            class="inline-block min-w-[100px] px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-700 active:bg-blue-700 transition whitespace-nowrap">
                        View
                    </button>
                </div>
                {% if shared_list.shared_by == request.user %}
                <div x-show="showOptions" x-transition:enter="transition ease-out duration-300"
                     x-transition:enter-start="opacity-0 transform scale-90"
                     x-transition:enter-end="opacity-100 transform scale-100"
                     x-transition:leave="transition ease-in duration-300"
                     x-transition:leave-start="opacity-100 transform scale-100"
                     x-transition:leave-end="opacity-0 transform scale-90"
                     class="flex flex-col gap-2 mt-2">
                    <button type="button" @click="showEditModal = true"
                            class="inline-block min-w-[100px] px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-700 active:bg-blue-700 transition whitespace-nowrap">
                        Edit
                    </button>
                    <button type="button"
                            @click="showShareModal = true"
                            hx-target="#page-body"
                            class="inline-block min-w-[100px] px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-700 active:bg-blue-700 transition whitespace-nowrap">
                        Share
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        <template x-if="showEditModal">
            {% include 'todo/modals/edit_list_modal.html' %}
        </template>
        <template x-if="showShareModal">
            {% include 'todo/modals/share_list_modal.html' %}
        </template>
    </div>
</div>