<div x-data="{ timer: null, showEditModal: false, selected: false }"
     x-init="$watch('showEditModal', new_value => {htmx.process(htmx.find('#edit-todo-modal'))})"
>
    <input type='hidden' name='todo_order' value='{{ task.pk }}'/>
    <div
            @click.away="selected = false"
            @mousedown="if (!scrolling) timer = setTimeout(() => { selected = true }, 600)"
            @touchstart="if (!scrolling) timer = setTimeout(() => { selected = true }, 600)"
            @mouseup="clearTimeout(timer); selected = false"
            @touchend="clearTimeout(timer); selected = false"
            @wheel="scrolling = true; clearTimeout(timer); selected = false"
            @scroll="scrolling = true; clearTimeout(timer); selected = false"
            x-init="scrolling = false"
            x-data="{ scrolling: false }"
            x-on:scroll.passive="scrolling = true"
            x-on:wheel.passive="scrolling = true"
            class="no-select flex justify-start border p-2 my-2 list-none dark:border-gray-600"
            :class="{
                                        'shadow-lg': selected,
                                        'grayscale': selected,
                                        'bg-gray-100': selected,
                                        'dark:bg-gray-700': selected,
                                        'transition-colors': true,
                                        'duration-300': true,
                                        'ease-in-out': true,
                                        'display: block;': selected
                                        }"
>
        <div class="flex-shrink-0">
            {% csrf_token %}
            {% if task.type == "FLEX_ITEM" %}
            <button id="toggle-todo" type="button"
                    hx-post="{% url 'flex_item' list_id=todo_list.pk todo_id=task.pk %}"
                    hx-target="#todo-list-container"
                    class="px-2 py-1 ml-2 rounded dark:bg-blue-500 bg-blue-500 text-white hover:dark:bg-blue-600 hover:bg-blue-600">
                {% include 'todo/icons/view-icon.html' %}
            </button>
            {% endif %}
            {% if not task.type == "FLEX_ITEM" %}
            {% if task.status == "TODO" %}
            <button id="view-flex-item" type="button"
                    hx-post="{% url 'flex_item' list_id=todo_list.pk todo_id=task.pk %}" hx-target="#todos"
                        class="px-2 py-1 ml-2 rounded dark:bg-green-500 bg-green-500 text-white hover:dark:bg-green-600 hover:bg-green-600">
                    {% include 'todo/icons/complete-icon.html' %}
                </button>
            {% else %}
                <button id="uncomplete-todo" type="button"
                        hx-post="{% url 'toggle_todo' list_id=todo_list.pk todo_id=task.pk %}" hx-target="#todos"
                        class="px-2 py-1 ml-2 rounded dark:bg-yellow-500 bg-yellow-500 text-white hover:dark:bg-yellow-600 hover:bg-yellow-600">
                    {% include 'todo/icons/uncomplete-icon.html' %}
                </button>
            {% endif %}
            {% endif %}
            <button id="edit-todo" @click="showEditModal = true" type="button"
                    class="px-2 py-1 ml-2 rounded dark:bg-blue-500 bg-blue-500 text-white hover:dark:bg-blue-600 hover:bg-blue-600">
                {% include 'todo/icons/edit-icon.html' %}
            </button>
        </div>
        <span class="px-2 overflow-hidden text-ellipsis">
            {{ task.title }}
        </span>
        <template x-if="showEditModal">
            {% include 'todo/modals/edit_todo_task_modal.html' %}
        </template>
    </div>
</div>

