<div x-data="{ showEditModal: false }"
     x-init="$watch('showEditModal', new_value => {htmx.process(htmx.find('#edit-list-modal'))})"
>
    <input type='hidden' name='todo_list_order' value='{{ todo_list.pk }}'/>
    <div class="flex justify-between bg-white shadow overflow-hidden sm:rounded-lg mb-4 items-center">
        <div class="flex-grow px-4 py-5 sm:px-6 flex">
            <h5 class="text-lg leading-6 font-medium text-gray-900">{{ todo_list.name }}</h5>
        </div>
        <div class="flex-shrink-0 px-4 py-5 sm:px-6" style="transform: scale(0.8);">
            <button type="button" @click="showEditModal = true"
                    class="ml-2 inline-block min-w-[100px] px-4 py-2 text-sm font-medium text-white bg-gray-600 rounded-md hover:bg-gray-500 focus:outline-none focus:ring focus:ring-gray-700 active:bg-gray-700 transition whitespace-nowrap">
                {% include 'todo/icons/edit-icon.html' %}
            </button>
            <button type="button" hx-get="{% url 'todo_list_tasks' todo_list.pk %}" hx-target="#page-body"
                    class="ml-2 inline-block min-w-[100px] px-4 py-2 text-sm font-medium text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring focus:ring-indigo-700 active:bg-indigo-700 transition whitespace-nowrap">
                {% include 'todo/icons/view-icon.html' %}
            </button>
        </div>
    </div>
    <template x-if="showEditModal">
        {% include 'todo/elements/modals/edit_list_modal.html' %}
    </template>
</div>