<div id="todo-lists">
        <div x-show="activeTab === 'myLists'">
            <form class="sortable" hx-post="{% url 'sort_todo_lists' %}" hx-trigger="end" hx-target="#todo-lists">
                {% csrf_token %}
                {% for todo_list in todo_lists %}
                {% if not todo_list.is_shared %}
                {% include 'todo/partials/todo-list.html' %}
                {% endif %}
                {% endfor %}
            </form>
        </div>

        <div x-show="activeTab === 'sharedLists'">
            <form class="sortable" hx-post="{% url 'sort_todo_lists' %}" hx-trigger="end" hx-target="#todo-lists">
                {% csrf_token %}
                {% for todo_list in todo_lists %}
                {% if todo_list.is_shared %}
                {% with shared_list=todo_list.shared_list %}
                {% include 'todo/partials/shared-todo-list.html' %}
                {% endwith %}
                {% endif %}
                {% endfor %}
            </form>
        </div>
</div>