<div id="edit-todo-modal"
        class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-4 rounded-lg shadow-lg max-w-xs mx-auto sm:m-4">
        <h2 class="text-xl font-bold mb-4">Edit To-do</h2>
        <div class="flex justify-between flex-wrap">
            <input value="{{ task.title }}" name="todo" type="text" id="new-todo" class="border p-2 w-full mb-2"
                   placeholder="Todo">
            <div class="flex-1 flex justify-between">
                <div>
                    <button
                            type="button"
                            id="save-todo"
                            class="btn primary px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
                            hx-put="{% url 'edit_todo' todo_list.pk task.pk %}"
                            hx-target="#todos"
                            hx-trigger="click"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    >
                        Save
                    </button>
                    <button type="button"
                            id="close-modal"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-delete="{% url 'delete_todo' todo_list.pk task.pk %}"
                            hx-target="#todos"
                            hx-trigger="click"
                            class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">
                        Delete
                    </button>
                </div>
                <button
                        x-on:click="showEditModal = false"
                        type="button"
                        class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
